.body{
    background-image: url('https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg');
    overflow: hidden;
}

.text{
    text-align: center;
    margin-top: 20vh;
    color: white;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
.escolhas{
    width: 400px;
    height: 400px;
    background: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
