.max-width-100 {
  max-width: 100px;
  height: auto;
}

@media (max-width: 768px) {
    #buttons {
      flex-direction: column;
    }

    #ExibirU {
        flex-direction: column;
    }

    #infos{
      flex-direction: column;
    }

    .max-width-100 {
      max-width: 75px;
      height: auto;
    }

  }


