
    .sidenav {
        min-width: 17rem;
        min-height: 100vh
    }

    .pesquisa {
        width: 12rem;
    }

    .tabela-transparente thead,
    .tabela-transparente tbody,
    .tabela-transparente th,
    .tabela-transparente td,
    .tabela-transparente tr {
        background-color: transparent;
        color: inherit;
        /* Mantém a cor do texto */
    }

    
    @media (max-width: 767px) {
        .pesquisa {
            width: 10rem;
        }
    }


